<%= display_current_sub_nav %>
<%= display_current_small_vcard %>
<div class="error no_record">
	<h2>Gallery not found or non-existent</h2>
	<p>Here are some useful pages:</p>
	<ul>
		<li><%= link_to("Find a user", users_path) %></li>	
	</ul>
	<p>...or head back to the <%= link_to("Homepage", root_path) %>
</div>