<div>
	<div id="secondaryNavigation">
		<ul>
			<%= content_tag :li, link_to("Compose New", new_message_path) %>
		</ul>
		<ul>
			<%= content_tag :li, link_to("Inbox", inbox_messages_path) %>
			<%= content_tag :li, link_to("Sent", outbox_messages_path) %>
			<%= content_tag :li, link_to("Trash", trashbin_messages_path) %>
		</ul>
	</div>
</div>