<li class="event clearfix">
	<%= link_to image_tag(event.poster(:avatar)), venue_event_path(event.venue, event), :class => "poster" %>
	<div class="content">
		<h3>
			<div class="title"><%= link_to event.title, venue_event_path(event.venue, event) %></div>
			<div class="venue"><%= link_to event.venue.name, venue_path(event.venue) %></div>
		</h3>
		<div class="details">
			<div class="commence_at">
				<%= timeago(event.commence_at) %>
			</div>
		</div>
	</div>
</li>