<div class="grid_12">
<%# display_current_sub_nav %>
<%# display_current_small_vcard %>
<%= content_tag(:div, link_to("New Event", {:controller => "event_wizard"}, :class => "link-button"), :class => "create_new_action_button") if business_signed_in? or promoter_signed_in? %>
<h1>Events</h1>
<ul class="events_days">
	<% @events_days.sort.each do |day,events| %>
		<li class="event_day clearfix">
			<h2>
				<div class="datetime"><%= timeago(day, false) %></div>
				<%# day.strftime("<span class=\"day\">%A</span> <span class=\"date\">#{day.day.ordinalize}</span> <span class=\"month\">%b</span> <span class=\"year\">%Y</span>") %>
			</h2>
			<ul class="events">
				<%= render :partial => events %>
			</ul>
		</li>
	<% end %>
</ul>
</div>